.topbar {
  width: calc(100% - 40px);
  background-color: #ffffff27;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  .topbarWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .topLeft {
      display: flex;
      align-items: center;
      .title {
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
      }
    }
    .topRight {
      .login {
        display: block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        background-color: #274034;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 20px;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .topbar {
    width: calc(100% - 20px);
    padding: 10px;
    .topbarWrapper {
      .topLeft {
        .title {
          font-size: 16px;
        }
      }
      .topRight {
        .login {
          padding: 10px 15px;
          font-size: 14px;
        }
      }
    }
  }
}
