.login {
  display: flex;
  height: auto;
  width: auto;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #14321d;
  padding: 20px;
  border-radius: 10px;

  .form {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    gap: 10px;

    .input {
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background: #ffffff20;
      color: #fff;
    }

    .button {
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #408061;
      color: white;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        background-color: #1d2e20;
      }

      &:active {
        background-color: #1a2b1d;
      }

      &:focus {
        outline: none;
      }

      &:disabled {
        background-color: #4c4c4c;
        cursor: not-allowed;
      }
    }
  }
}
